
# Object files
*.o
*.trs

# test files
*.in12
*.log
*.out
*.out11
*.nptp
*.plt
*.pnh
*.nid.sof1
*.nid.sof2
*.15
*.16
*.76

# http://www.gnu.org/software/automake
Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/compile
/depcomp
/missing
/stamp-h1
/autoscan.log
/config.log
/config.status
